body {
    padding-top: 50px;
    font-size: 12px !important;
}
.main-tpl {
    padding: 40px 15px;
    text-align: left;
    min-height: 450px;
}
.margin-top-default {
    margin-top: 20px;
}
.padding-left-15 {
    padding-left: 15px !important;
}
footer {
    padding-top: 30px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
.middle {
    vertical-align: middle;
    font-size: 20px;
}
.clock {
    margin: 0 auto 20px auto;
    padding: 10px;
    border: 1px solid #333;
    background-color: #1c94c6;
    color: #fff;
}
#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}
#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}
.clock>ul {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}
.clock>ul>li {
    display: inline;
    font-size: 3em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}
/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}
50% {
    opacity: 0;
    text-shadow: none;
}
100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}   
}
@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}